@model AdvancedSearchViewModel
@{
    ViewBag.Title = "_PostSearchPartial";
}

<h2>Search Posts</h2>

<form method="get" action='@Url.Action("_PostsResultPartial", "Posts", new { Query = Model.Body })'>
    <div class="form-group">
        @Html.TextBoxFor(input => input.Body, new { @class = "search-input", @autofocus = "" })
    </div>

</form>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="~/Scripts/indexOfPostsController.js">
</script>