@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome!</h1>
    <p class="lead">Blogg is a free blog site that is currently under construction. Please feel free to check out the @Html.ActionLink("posts", "Index", "Posts") page to know more and have an experience!</p>    
</div>